@font-face {
font-family: 'AR CHRISTY Regular';
font-style: normal;
font-weight: normal;
src: local('AR CHRISTY Regular'), url('../fonts/archristy.woff') format('woff');
}

body{
  text-align: center;
  background-color: #faee66;

}



h1{
    font-size: 10vw;
  font-family: AR CHRISTY Regular, cursive;
  color: #35426c;
}

img{
  border-radius: 5%;
  width: 60%;
}

.logo-link{
  font-size: 5rem;
  color: #35426c;
}



/* Media Queries */
@media screen and (min-width: 730px) {
  section{
    width: 50%;
    margin: auto;
  }
}
